<div class="form-card-container">
  <!-- Botón de Cerrar con Icono Minimalista (X) -->
  <button class="btn-close-form" (click)="cerrarFormulario()" title="Cerrar formulario">✕</button>

  <!-- Cabecera del Formulario -->
  <div class="form-header">
    <h2>{{ isEditMode ? 'Editar Universidad' : 'Registrar Universidad' }}</h2>
    <p class="form-subtitle">Datos Institucionales</p>
  </div>

  <!-- Formulario Reactivo -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="institutional-form">
    <lib-input formControlName="nombre" label="Nombre" type="text" placeholder="Ej. Universidad Politécnica">
    </lib-input>
    <lib-form-error [control]="form.get('nombre')"></lib-form-error>

    <lib-input formControlName="siglas" label="Siglas" type="text" placeholder="Ej. UPT"> </lib-input>
    <lib-form-error [control]="form.get('siglas')"></lib-form-error>

    <lib-input formControlName="rif" label="RIF" type="text" placeholder="Ej. J-987689-0"> </lib-input>
    <lib-form-error [control]="form.get('rif')"></lib-form-error>

    <lib-input formControlName="ubicacion" label="Ubicacion" type="textarea" placeholder="Ciudad / Estado"> </lib-input>

    <lib-input formControlName="telefono" label="Telefono" placeholder="0251-XXXXXXX"></lib-input>

    <lib-input
      formControlName="correoInstitucional"
      label="Email institucional"
      type="email"
      placeholder="usuario@universidad.edu.ve"
    >
    </lib-input>
    <lib-form-error [control]="form.get('correoInstitucional')"></lib-form-error>

    <div class="input-with-action-container">
      <div class="input-wrapper">
        <lib-input
          formControlName="correoUserAdmin"
          label="Email usuario admin"
          type="email"
          placeholder="usuario@kk.edu.ve"
        >
        </lib-input>
      </div>

      @if (isEditMode) {
        <button type="button" class="btn-circular-edit" (click)="abrirModalModificarEmail()" title="Modificar email">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>
    <lib-form-error [control]="form.get('correoUserAdmin')"></lib-form-error>

    <button type="submit" class="btn-submit" [disabled]="form.invalid">Guardar</button>
  </form>
</div>
